In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_excel('variance.xlsx')

In [4]:
df.head()

,Juganda Income Levels (In thousands $ ),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Krance Income Levels (In thousands $ ),Unnamed: 7,Unnamed: 8,Unnamed: 9
0,name,yearly income,income - mean,NaN,NaN,NaN,name,yearly income,income - mean,NaN
1,nishith,71,9,81.0,NaN,NaN,mohan,99,37,1369.0
2,veeral,62,0,0.0,NaN,NaN,rita,14,-48,2304.0
3,angelina,66,4,16.0,NaN,NaN,bhavin,75,13,169.0
4,salma,61,-1,1.0,NaN,NaN,michael,84,22,484.0