In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
import pandas as pd

df = pd.read_csv('heights.csv')
df.head()

    name  height
0  mohan     1.2
1  maria     4.6
2  sakib     4.9
3    tao     5.1
4  virat     5.2

In [4]:
Q1, Q3 = df.height.quantile([0.25, 0.75])
Q1, Q3

(5.3500000000000005, 6.275)

In [5]:
IQR = Q3 - Q1
IQR

0.9249999999999998

In [6]:
lower_limit = Q1 - 1.5*IQR
upper_limit = Q3+1.5*IQR

lower_limit, upper_limit

(3.962500000000001, 7.6625)

In [8]:
outliers = df[(df.height<lower_limit) | (df.height>upper_limit)]
outliers

     name  height
0   mohan     1.2
19    Liu    40.2